{{/* Sidebar widget featuring Vlatka - for longer pages */}}
<aside class="sidebar-realtor-widget">
  <div class="widget-header"><span class="widget-badge">Local Expert</span></div>
  <img src="/images/vlatka-bathgate.jpg" alt="Vlatka Bathgate" class="widget-photo">
  <h4>Vlatka Bathgate</h4>
  <p class="widget-title">Coldwell Banker Realty<br>DRE #01390784</p>
  <p>Local real-estate guidance for Lafayette, Moraga, and Orinda.</p>
  <a href="/ask-vlatka/" class="widget-cta">Ask Vlatka</a>
  <p class="widget-phone"><a href="tel:+19255971573">(925) 597-1573</a></p>
</aside>
